<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <frankfurter_currencyconverter>
            <general>
                <api_base_url>https://api.frankfurter.dev/v1/</api_base_url>
            </general>
        </frankfurter_currencyconverter>
    </default>
</config>
